body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(1, 31, 63);
    color: whitesmoke;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: center;
    line-height: 200px;
    border: 3px outset;
    border-radius: 25%;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

#green{
    background-color: rgb(0, 223, 162);
}

#red{
    background-color:  rgb(255, 0, 96);
}

#yellow{
    background-color:  rgb(246, 250, 112);
}

#blue{
    background-color: rgb(0, 121, 255);
}

.header{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: rgb(1, 31, 63);
    width: 250px;
    height: 50px;
    margin: 2vh;
    text-align: center;
    line-height: 50px;
    border: 2px solid;
    border-radius: 50px;
}

.header-success{
    background-color: rgb(0, 223, 162);
    color: black;
}

.player-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 2px outset;
    border-radius: 50%;
    overflow: hidden;
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    background-color: black; /* Button background color */
    cursor: pointer;
    position: relative;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    //transition: transform 0.3s ease-in-out; box-shadow 0.3s;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.player-button:hover {
    transform: scale(1.1); /* Scale up the button on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.player-button img {
    width: 115%;
    height: 115%;
    object-fit: cover; /* Ensures the image covers the entire button */
    border: none;
}

.top10{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

td:nth-child(3) {
    text-align: center;
}

@media(max-width:600px){

    .button {
        width: 150px;
        height: 150px;

    }
    .player-button {
        width: 75px; 
        height: 75px; 

}